.RegisterButton{
    -fx-background-color:#5472F2;
    -fx-text-fill: white;
    -fx-font-weight:bold;
    -fx-font-size:20px;
}
.RegisterLabel{
    -fx-font-size:16px;
    -fx-padding:2 2 2 2;
}
.RegisterInput{
    -fx-font-size:17px;
    -fx-padding:10 10 10 10;
}
.RegisterError{
    -fx-padding:10 10 10 10;
    -fx-alignment: center;
    -fx-font-size:16px;
    -fx-font-weight:bold;
}
.menu{

}
.menu-item{
    -fx-font-size:18px;
    -fx-background-color:rgba(84, 114, 242, 0.05);
    -fx-border-color: white;
    -fx-border-width: 3px;
}
.positive{
    -fx-background-color:#5472F2;
    -fx-text-fill: white;
}
.main-view{
    -fx-background-color:#ffffff;
}
.main-container{
    -fx-background-color:#ffffff;
}
.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color:#ffffff;
    -fx-text-fill: white !important;
    -fx-font-weight:bold;
    -fx-font-size:20px;
}


.table-view .table-column{
    -fx-text-alignment: center;
    -fx-alignment: CENTER 

}
.table-header{
    -fx-text-fill: white !important;
    -fx-font-weight:bold;
    -fx-font-size:15px;
    -fx-background-color: #ffffff;
    -fx-text-alignment: center;
    -fx-alignment: CENTER 

}
.table-cell{
    -fx-font-weight:bold;
    -fx-font-size:12px;
    -fx-background-color: rgba(245, 245, 245, 0.5);
    -fx-text-alignment: center;
    -fx-font-family:arial;
    -fx-alignment: CENTER 

}
.table-cell:even{
    -fx-background-color: rgba(250, 100, 250, 0.9);
}
.pagination{
    -fx-text-alignment: center;
    -fx-padding: 10px;
    -fx-alignment: CENTER;
}
.pagination-item{
    -fx-font-weight:bold;
}
.pagination-info{

    -fx-padding: 5px;
    -fx-border-radius: 2 2 2 2;
    -fx-background-radius: 2 2 2 2;
    -fx-spacing: 10px;
}



.sidebar{
    -fx-background-color:#333645;
}
.nav-item{
    -fx-background-color:transparent;
}
.nav-item:hover{
    -fx-background-color:#202332;
}
.h1{
    -fx-letter-spacing:2px;
}
.addButton{
    -fx-background-color:rgba(0,200,0,0.8);
    -fx-text-fill: white;
    -fx-border-radius: 100 100 100 100;
}